<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Wensen voor het jaar 2018</title>
        <link rel="stylesheet" href="css/2018-wishes.css">
    </head>
    <body>
        <section class="content">
            <div class="story">
                {{{story}}}
            </div>
            <div class="puzzle">
                <div id="container"></div>
            </div>
            <div class="directions">
                {{{directions}}}
            </div>
        </section>
        {{{scripts}}}
    </body>
</html>
