body {
    background-color: black;
    background-image: url('../image/GGtauri2.jpg');
    color: green;
    margin: 0;
    padding: 0;
}

section.content {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}
