html {
    --content-border: 10px;
}

body {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
    justify-items: center;
    align-items:center;
    background-color: black;
    background-image: url('../image/GGtauri2.jpg');
    color: green;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

section.content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: calc(650px + 2*var(--content-border));
    margin-left: auto;
    margin-right: auto;
    padding: var(--content-border);
    border-radius: var(--content-border);
    background-color: black;
}
